<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 4: Web Scraping Job Postings

Done by: Darren Siow

You're working as a data scientist for a contracting firm that's rapidly expanding. Now that they have their most valuable employee (you!), they need to leverage data to win more contracts. Your firm offers technology and scientific solutions and wants to be competitive in the hiring market. Your principal has two main objectives:

Determine the industry factors that are most important in predicting the salary amounts for these data.
Determine the factors that distinguish job categories and titles from each other. For example, can required skills accurately predict job title?
To limit the scope, your principal has suggested that you focus on data-related job postings, e.g. data scientist, data analyst, research scientist, business intelligence, and any others you might think of. You may also want to decrease the scope by limiting your search to a single region.

In [1]:
import time
import re
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from bs4 import BeautifulSoup
from scrapy.selector import Selector
import pandas as pd
import numpy as np

In [2]:
# Setting the webdriver path
webdriver_path = "C://Users/dsiow/Desktop/chromedriver_win32/chromedriver.exe"

# Set page load timeout
timeout = 6

# Creating a new Chrome session
driver = webdriver.Chrome(executable_path=webdriver_path)

# Defining the url for data scientist jobs
url = "https://www.mycareersfuture.sg/search?search=machine%20learning&sortBy=new_posting_date&page=14"

# Navigating to the webpage
driver.get(url)
time.sleep(10)

# Close the pop-up if it appears
try:
    button = driver.find_element_by_xpath('//*[@class="tr pointer OverlayNavigation__icon-cross___1wfSE"]')
    button.click()
    time.sleep(timeout)
except:
    pass

main_webpage = "https://www.mycareersfuture.sg"

# Initializing a pandas dataframe that will hold the scraped job information
df = pd.DataFrame(columns = ['title','company','employment_type','job_level','category',
                             'salary_lower','salary_upper','salary_time_interval','roles','requirements'])

# Initializing lists that will hold the scraped job information
title = []
company = []
employment_type = []
job_level = []
category = []
salary_lower = []
salary_upper = []
salary_time_interval = []
roles = []
requirements = []

# Initializing a job_card_count variable to keep track of the number of job cards scraped
job_card_count = 0

# Initializing a script_run variable that is True by default, and we be changed to False when the scraping is completed
script_run = True

while(script_run == True):
    # Selenium hands the page source to BeautifulSoup - so that BeautifulSoup can look for the JS link for each job title
    search_result_soup = BeautifulSoup(driver.page_source, 'lxml')
    result_links = search_result_soup.findAll(name='div', attrs={'class':'card relative'})
    
    # result_link contains the html content for each job card
    for result_link in result_links:

        # Finding the 'a' tag will lead us to the JavaScript element (the link that leads to more comprehensive job info)
        job_title_link = result_link.find('a')

        # Getting the link path that leads us to more comprehensive job info
        job_url = job_title_link.get('href')

        # Opening the comprehensive job info link
        sub_driver = webdriver.Chrome(executable_path=webdriver_path)
        sub_driver.get(main_webpage + job_url)

        # Sleep for a while to give the page some time to load
        time.sleep(timeout)

        # Selenium hands over the html content of the comprehensive job info page to BeautifulSoup
        job_details_soup = BeautifulSoup(sub_driver.page_source, 'lxml')

        # job_info contains information on job title, salary, company name, etc.
        job_info = job_details_soup.find('div', attrs={'class':'jobInfo'})
        
        # job_body contains information on roles & responsibilities and requirements
        job_body = job_details_soup.find('div', attrs={'class':'jobDescription w-100 v-top relative'})

        # Getting the job title, company name, employment type
        title.append(job_info.find('h1', attrs={'id':'job_title'}).text)
        company.append(job_info.find('p', attrs={'name': 'company'}).text)

        # If employment type is unavailable..
        try:
            employment_type.append(job_info.find('p', attrs={'id':'employment_type'}).text)
        except:
            employment_type.append(np.nan)

        # If job_level is unavailable..
        try:
            job_level.append(job_info.find('p', attrs={'id':'seniority'}).text)
        except:
            job_level.append(np.nan)

        # If category is unavailable..
        try:
            category.append(job_info.find('p', attrs={'id':'job-categories'}).text)
        except:
            category.append(np.nan)

        # Getting the salaries, and the salary time intervals
        # If there are undisclosed salaries...
        try:
            job_salary_raw = job_info.findAll('div', attrs={'class':'lh-solid'})[0]
        except:
            salary_lower.append(np.nan)
            salary_upper.append(np.nan)
            salary_time_interval.append(np.nan)
        else:
            # Getting the salaries
            job_salary_raw = job_info.findAll('div', attrs={'class':'lh-solid'})[0]

            # Getting the salary(lower end)
            job_salary_raw_lower = job_salary_raw.text.split('to')[0]
            job_salary_lower = int(''.join(e for e in job_salary_raw_lower if e.isalnum()))
            salary_lower.append(job_salary_lower)

            # Getting the salary(upper end)
            job_salary_raw_upper = job_salary_raw.text.split('to')[1]
            job_salary_upper = int(''.join(e for e in job_salary_raw_upper if e.isalnum()))
            salary_upper.append(job_salary_upper)

            # Getting the salary time interval
            job_salary_time_interval = job_info.find('span', attrs={'class':"salary_type dib f5 fw4 black-60 pr1 i pb"}).text
            salary_time_interval.append(job_salary_time_interval)

        # Getting the roles and responsibilities
        try:
            roles_resp = job_details_soup.find('div', {'class':'f5 fw4 black-70 lh-copy break-word'}).text
            roles.append(roles_resp)
        except:
            roles.append(np.nan)

        # Getting the requirements
        try:
            req = job_details_soup.find('div', {'id':'requirements'}).text
            requirements.append(roles_resp)
        except:
            requirements.append(np.nan)
        
        job_card_count += 1
        print('There are {} jobs scraped so far'.format(job_card_count))
        print('title {}, company {}, employment_type {}, job_level {}, category {}, salary_lower {}, salary_upper {}, \
        salary_time_interval {}, roles {}, requirements {}'.format(len(title), len(company), len(employment_type),\
                                                                  len(job_level), len(category), len(salary_lower), \
                                                                  len(salary_upper), len(salary_time_interval), len(roles),\
                                                                  len(requirements)))
        
        # Closing sub_driver
        sub_driver.close()

    if(search_result_soup.findAll("div", {"class":"tc pv3"})[0].text.find('❯') != -1):
        button = driver.find_element_by_xpath('//*[@type="action"][last()]')
        button.click()
        time.sleep(timeout)
    else:
        print('Reached end of the search result...')
        script_run = False

There are 1 jobs scraped so far
title 1, company 1, employment_type 1, job_level 1, category 1, salary_lower 1, salary_upper 1,         salary_time_interval 1, roles 1, requirements 1
There are 2 jobs scraped so far
title 2, company 2, employment_type 2, job_level 2, category 2, salary_lower 2, salary_upper 2,         salary_time_interval 2, roles 2, requirements 2
There are 3 jobs scraped so far
title 3, company 3, employment_type 3, job_level 3, category 3, salary_lower 3, salary_upper 3,         salary_time_interval 3, roles 3, requirements 3
There are 4 jobs scraped so far
title 4, company 4, employment_type 4, job_level 4, category 4, salary_lower 4, salary_upper 4,         salary_time_interval 4, roles 4, requirements 4
There are 5 jobs scraped so far
title 5, company 5, employment_type 5, job_level 5, category 5, salary_lower 5, salary_upper 5,         salary_time_interval 5, roles 5, requirements 5
There are 6 jobs scraped so far
title 6, company 6, employment_type 6, job_level 6, category 6, salary_lower 6, salary_upper 6,         salary_time_interval 6, roles 6, requirements 6
There are 7 jobs scraped so far
title 7, company 7, employment_type 7, job_level 7, category 7, salary_lower 7, salary_upper 7,         salary_time_interval 7, roles 7, requirements 7
There are 8 jobs scraped so far
title 8, company 8, employment_type 8, job_level 8, category 8, salary_lower 8, salary_upper 8,         salary_time_interval 8, roles 8, requirements 8
There are 9 jobs scraped so far
title 9, company 9, employment_type 9, job_level 9, category 9, salary_lower 9, salary_upper 9,         salary_time_interval 9, roles 9, requirements 9
There are 10 jobs scraped so far
title 10, company 10, employment_type 10, job_level 10, category 10, salary_lower 10, salary_upper 10,         salary_time_interval 10, roles 10, requirements 10
There are 11 jobs scraped so far
title 11, company 11, employment_type 11, job_level 11, category 11, salary_lower 11, salary_upper 11,         salary_time_interval 11, roles 11, requirements 11
There are 12 jobs scraped so far
title 12, company 12, employment_type 12, job_level 12, category 12, salary_lower 12, salary_upper 12,         salary_time_interval 12, roles 12, requirements 12
There are 13 jobs scraped so far
title 13, company 13, employment_type 13, job_level 13, category 13, salary_lower 13, salary_upper 13,         salary_time_interval 13, roles 13, requirements 13
There are 14 jobs scraped so far
title 14, company 14, employment_type 14, job_level 14, category 14, salary_lower 14, salary_upper 14,         salary_time_interval 14, roles 14, requirements 14
There are 15 jobs scraped so far
title 15, company 15, employment_type 15, job_level 15, category 15, salary_lower 15, salary_upper 15,         salary_time_interval 15, roles 15, requirements 15
There are 16 jobs scraped so far
title 16, company 16, employment_type 16, job_level 16, category 16, salary_lower 16, salary_upper 16,         salary_time_interval 16, roles 16, requirements 16
There are 17 jobs scraped so far
title 17, company 17, employment_type 17, job_level 17, category 17, salary_lower 17, salary_upper 17,         salary_time_interval 17, roles 17, requirements 17
There are 18 jobs scraped so far
title 18, company 18, employment_type 18, job_level 18, category 18, salary_lower 18, salary_upper 18,         salary_time_interval 18, roles 18, requirements 18
There are 19 jobs scraped so far
title 19, company 19, employment_type 19, job_level 19, category 19, salary_lower 19, salary_upper 19,         salary_time_interval 19, roles 19, requirements 19
There are 20 jobs scraped so far
title 20, company 20, employment_type 20, job_level 20, category 20, salary_lower 20, salary_upper 20,         salary_time_interval 20, roles 20, requirements 20
There are 21 jobs scraped so far
title 21, company 21, employment_type 21, job_level 21, category 21, salary_lower 21, salary_upper 21,         salary_time_interval 21, roles 21, requirements 21
There are 22 jobs scraped so far
title 22, company 22, employment_type 22, job_level 22, category 22, salary_lower 22, salary_upper 22,         salary_time_interval 22, roles 22, requirements 22
There are 23 jobs scraped so far
title 23, company 23, employment_type 23, job_level 23, category 23, salary_lower 23, salary_upper 23,         salary_time_interval 23, roles 23, requirements 23
There are 24 jobs scraped so far
title 24, company 24, employment_type 24, job_level 24, category 24, salary_lower 24, salary_upper 24,         salary_time_interval 24, roles 24, requirements 24
There are 25 jobs scraped so far
title 25, company 25, employment_type 25, job_level 25, category 25, salary_lower 25, salary_upper 25,         salary_time_interval 25, roles 25, requirements 25
There are 26 jobs scraped so far
title 26, company 26, employment_type 26, job_level 26, category 26, salary_lower 26, salary_upper 26,         salary_time_interval 26, roles 26, requirements 26
There are 27 jobs scraped so far
title 27, company 27, employment_type 27, job_level 27, category 27, salary_lower 27, salary_upper 27,         salary_time_interval 27, roles 27, requirements 27
There are 28 jobs scraped so far
title 28, company 28, employment_type 28, job_level 28, category 28, salary_lower 28, salary_upper 28,         salary_time_interval 28, roles 28, requirements 28
Reached end of the search result...

In [3]:
print(len(title))
print(len(company))
print(len(employment_type))
print(len(job_level))
print(len(category))
print(len(salary_lower))
print(len(salary_upper))
print(len(salary_time_interval))
print(len(roles))
print('-'*100)
print(len(requirements))

28
28
28
28
28
28
28
28
28
----------------------------------------------------------------------------------------------------
28

In [4]:
df['title'] = title
df['company'] = company
df['employment_type'] = employment_type
df['job_level'] = job_level
df['category'] = category
df['salary_lower'] = salary_lower
df['salary_upper'] = salary_upper
df['salary_time_interval'] = salary_time_interval
df['roles'] = roles
df['requirements'] = requirements

df

,title,company,employment_type,job_level,category,salary_lower,salary_upper,salary_time_interval,roles,requirements
0,Research Fellow,NANYANG TECHNOLOGICAL UNIVERSITY,"Contract, Full Time",Professional,Sciences / Laboratory / R&D,4000.0,5500.0,Monthly,There is a postdoctoral position in condensed ...,There is a postdoctoral position in condensed ...
1,AA RPA Consultant,TOSS-EX PTE. LTD.,Contract,Executive,Information Technology,6000.0,7500.0,Monthly,At least 1-2 years of experience on developin...,At least 1-2 years of experience on developin...
2,Senior Principal Investigator / Principal In...,A*STAR RESEARCH ENTITIES,"Contract, Full Time",Non-executive,Sciences / Laboratory / R&D,7100.0,14200.0,Monthly,About Singapore Institute for Clinical Science...,About Singapore Institute for Clinical Science...
3,Senior Data Scientist,RESMED ASIA PTE. LTD.,"Permanent, Full Time",Senior Executive,"Engineering, Sciences / Laboratory / R&D",10000.0,14000.0,Monthly,Senior Data Scientist The Senior Data Scientis...,Senior Data Scientist The Senior Data Scientis...
4,Data Sciences & Analytics Engineer,SINGAPORE AIRLINES LIMITED,Permanent,"Professional, Executive",Information Technology,4000.0,8000.0,Monthly,SIA has multiple positions for junior and seni...,SIA has multiple positions for junior and seni...
5,Data Scientist,ALPHATECH BUSINESS SOLUTIONS PTE. LTD.,"Permanent, Full Time",Professional,Information Technology,5500.0,8000.0,Monthly,· Use machine learning and analytical te...,· Use machine learning and analytical te...
6,"Senior Specialist / Manager, CS Process & Project",APL CO. PTE LTD,Permanent,Senior Executive,Others,6000.0,8000.0,Monthly,BRIEF DESCRIPTION This position reports to the...,BRIEF DESCRIPTION This position reports to the...
7,"Senior Specialist / Manager, CS Process & Project",APL CO. PTE LTD,Permanent,Senior Executive,Others,4500.0,6000.0,Monthly,BRIEF DESCRIPTION This position reports to the...,BRIEF DESCRIPTION This position reports to the...
8,"Program Manager, Business Integrity",FACEBOOK SINGAPORE PTE. LTD.,Full Time,Professional,Advertising / Media,6000.0,12000.0,Monthly,Business Integrity's mission is to ensure safe...,Business Integrity's mission is to ensure safe...
9,Data Scientist (JD#4567),SCIENTE INTERNATIONAL PTE. LTD.,"Contract, Full Time",Professional,Banking and Finance,NaN,NaN,NaN,An excellent opportunity to gain experience in...,An excellent opportunity to gain experience in...
10,Data Scientist,DHL EXPRESS (SINGAPORE) PTE. LTD.,"Permanent, Full Time",Professional,Others,4800.0,6800.0,Monthly,If you are a dynamic team player with an entre...,If you are a dynamic team player with an entre...
11,Research Assistant,NANYANG TECHNOLOGICAL UNIVERSITY,"Contract, Full Time","Professional, Executive",Sciences / Laboratory / R&D,3400.0,5000.0,Monthly,A research assistant position is available in ...,A research assistant position is available in ...
12,"Customer Reference Marketing Manager JAPAC, Go...",GOOGLE ASIA PACIFIC PTE. LTD.,Full Time,Manager,Marketing / Public Relations,14000.0,28000.0,Monthly,Company overview: Google is not a conventional...,Company overview: Google is not a conventional...
13,Backend Developer,YOLO TECHNOLOGY PTE. LTD.,Full Time,Senior Executive,Information Technology,3500.0,4500.0,Monthly,The incumbent is in charge of the entire back-...,The incumbent is in charge of the entire back-...
14,Data Scientist,COMTEL SOLUTIONS PTE LTD,Contract,Executive,Information Technology,7000.0,10500.0,Monthly,Define hypotheses and identify the analysis t...,Define hypotheses and identify the analysis t...
15,Machine Learning- Artificial Intelliegence,SCHELLDEN GLOBAL SERVICES,"Contract, Full Time",Professional,Information Technology,6000.0,11000.0,Monthly,· Use machine learning and analytical ...,· Use machine learning and analytical ...
16,Automation and Machine Learning Engineer and D...,GOLDTECH RESOURCES PTE LTD,"Permanent, Contract","Executive, Senior Executive","Engineering, Information Technology",3500.0,7000.0,Monthly,We are looking for the ideal candidate experie...,We are looking for the ideal candidate experie...
17,Software Engineer - Singapore,GOOGLE ASIA PACIFIC PTE. LTD.,Full Time,Executive,Engineering,6300.0,12600.0,Monthly,Company overview: Google is not a conventional...,Company overview: Google is not a conventional...
18,Dr Ian Cheong Group: Engineer (AI Research),TEMASEK LIFE SCIENCES LABORATORY LIMITED,"Contract, Full Time",Executive,"Engineering, Sciences / Laboratory / R&D",3000.0,4000.0,Monthly,Our lab in Temasek Life Sciences Laboratory is...,Our lab in Temasek Life Sciences Laboratory is...
19,Data Scientist,COGNOPIA PTE. LTD.,"Permanent, Contract, Internship",Junior Executive,Information Technology,4500.0,10000.0,Monthly,About Cognopia Cognopia is a leader in Sales-a...,About Cognopia Cognopia is a leader in Sales-a...
20,Mobility Engineer Artificial Intelligence,SMARTSOFT PTE. LTD.,Full Time,Professional,Information Technology,5800.0,11000.0,Monthly,· Use machine learning and analytical ...,· Use machine learning and analytical ...
21,Regional Technical Engineer - Electronic Compu...,THE SUPREME HR ADVISORY PTE. LTD.,Full Time,Senior Executive,"Engineering, Information Technology",3000.0,3500.0,Monthly,5.5 Day A Week *9am to 6pm (Mon to Fri) *9am t...,5.5 Day A Week *9am to 6pm (Mon to Fri) *9am t...
22,Forensic Technology & Discovery Services Senio...,ERNST & YOUNG ADVISORY PTE. LTD.,Permanent,Middle Management,Consulting,8000.0,16000.0,Monthly,Our innovative Forensic Technology & Discovery...,Our innovative Forensic Technology & Discovery...
23,Development Lead (Assistant Director / Deputy ...,GOVERNMENT TECHNOLOGY AGENCY,Permanent,Middle Management,"Information Technology, Public / Civil Service",NaN,NaN,NaN,We are seeking a Development Lead to take on t...,NaN
24,Business Analyst (Data Analytics),GOVERNMENT TECHNOLOGY AGENCY,Full Time,Professional,"Information Technology, Public / Civil Service",NaN,NaN,NaN,BAF (Data Analytics) We are looking for Busine...,NaN
25,"Senior Deputy Director / Deputy Director, Te...",Health Promotion Board,Full Time,Middle Management,"Environment / Health , Public / Civil Service",NaN,NaN,NaN,"Strategy and Industry Engagement lead, Technol...",NaN
26,School of Infocomm - Research Staff (Text Anal...,Republic Polytechnic,Contract,NaN,"Education and Training, Public / Civil Service",NaN,NaN,NaN,Responsibilities We are looking for a responsi...,NaN
27,School of Infocomm - Research Staff (Data Anal...,Republic Polytechnic,Contract,NaN,"Education and Training, Public / Civil Service",3100.0,5300.0,Monthly,Job Responsibilities We are looking for a capa...,NaN

In [5]:
df.to_csv('./careersfuture_ML_part2.csv', index = False)